# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Local databases & storage
*.db
*.sqlite
pg-data/
minio-data/
*.log

# Sensitive environment variables
.env
